#top{
  margin-left: 40px;
  padding-top: 30px;
  display: flex;
}

#top a{
  margin-left: 100px;
  text-decoration: none;
  color: yellow;
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;
}
body{
  background-color: black;
  background-image:  url("/home/emmanuel/Desktop/moringa-school-projects/personal-portfolio/pics/social1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
#facebook h2{
  color: yellow;
  font-family: 'Indie Flower', cursive;
}
#instagram h2{
  color: yellow;
  font-family: 'Indie Flower', cursive;
}
#github h2{
  color: yellow;
  font-family: 'Indie Flower', cursive;
}
#instagram {
  margin-left: : 100px;
  width: 40%;
  display: inline-block;
  text-align: center;

}
#github {
  float: right;
  width: 10%;
  text-align: center;
  padding-right: 67%;
}
#facebook{
  display: inline-block;
  padding-left: 10%;
  padding-top: 5%;
}
#linkdin{
  display:inline-block;
  float: left;
  padding-top: 20%;
  padding-left: 10%;
}
#linkdin h2{
  color: yellow;
  font-family: 'Indie Flower', cursive;
}
#twiter{
  display: inline-block;
  float: left;
  padding-top: 7%;
  padding-left: 18%
}
#twiter h2{
  color: yellow;
  font-family: 'Indie Flower', cursive;
}
#sidebar{
  width: 30%;
  float: right;
}
#sidebar p{
  color: yellow;
  font-family: 'Kalam', cursive;
}
