body{
  background-image: url("/home/emmanuel/Desktop/moringa-school-projects/personal-portfolio/pics/tech2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;


}
#top a{
  text-decoration-color: yellow;
  text-decoration: none;
  margin-left: 70px;
  color: yellow;
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;
}
#top{
padding-left: 10px;
padding-bottom: 0px;
padding-top: 40px;
display: flex;
flex-wrap: wrap;
}
h1{
  font-weight: bolder;
  text-align: center;
  color: yellow;
  padding-top: 200px;
  font-family: 'Barriecito', cursive;
}
h4{
  font-weight: lighter;
  font-family: 'Dancing Script', cursive;
  padding-top: -50px;
}
